{% extends 'layout.html' %}

{% block body %}

<script src="{{ url_for('static', filename='js/classroom.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes.js') }}"></script>

<!-- SECTIONS:  HEADER-->
<section class="section green darken-3 white-text">
  <div class="container">
    <div class="col s12 ">
      <a href="/dashboard/" class="breadcrumb">Dashboard</a>
      <a href="/classroom/" class="breadcrumb">Classroom</a>
    </div>
  </div>
</section>

<section class="section section-turmas">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Convites Recebidos</span>
            <table class="striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Turma</th>
                  <th>Aceitar</th>
                  <th>Recusar</th>
                </tr>
              </thead>
              <tbody>

                {% if invites %}
                  {% for invite in invites %}
                    <tr>
                      <td class="inviteId">{{ invite._id }}</td>
                      <td>{{ invite.class.name }}</td>
                      <td>
                        <a href="http://200.137.131.118/classroom/invites/{{ invite._id }}/register/"><i class="material-icons">thumb_up</i></a>
                      </td>
                      <td>
                        <a href="" class="btnDeleteInvite"><i class="material-icons">thumb_down</i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}

              </tbody>
            </table>

          </div>
        </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Minhas Turmas</span>
        <table class="striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Turma</th>
              <th>Descrição</th>
              <th>Opção</th>
            </tr>
          </thead>
          <tbody>
            {% for class in my_classes %}
            <tr>
                <td>{{ class._id }}</td>
                <td>{{ class.name }}</td>
                <td>{{ class.description }}</td>
              </td>
                <td class="hide-on-small-only">
                  <a href="/classroom/classes/{{ class._id }}/student/" data-position="top" data-delay="250" data-tooltip="Entrar na turma" class="btn tooltipped btn-icon green">
                    <span class="icon"><i class="material-icons">touch_app</i></span>
                  </a>
                </td>
              </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Turmas Criadas</span>
        <table class="striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Turma</th>
              <th>Descrição</th>
              <th>Opção</th>
            </tr>
          </thead>
          <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ class._id }}</td>
                <td>{{ class.name }}</td>
                <td>{{ class.description }}</td>
             </td>
                 <td class="hide-on-small-only">
                   <a href="{{ url_for('get_class', class_id=class._id)}}" data-position="top" data-delay="250" data-tooltip="Entrar na turma" class="btn tooltipped btn-icon green">
                       <span class="icon"><i class="material-icons">touch_app</i></span>
                   </a>
                    <a href="/classroom/classes/{{ class._id }}" data-position="top" data-delay="250" data-tooltip="Editar turma" class="btn tooltipped btn-icon green">
                        <span class="icon"><i class="fa fa-edit"></i></span>
                    </a>
                </td>

            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>

    <div class="fixed-action-btn">
      <a href="#modalCreateClass" class="btn-floating btn-large modal-trigger red">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</section>

{% include 'modals/classes.html' %}

{% endblock %}
