{% extends 'layout.html' %}

{% block body %}

<script src="{{ url_for('static', filename='js/classroom.js') }}"></script>

<!-- SECTIONS:  HEADER-->
<section class="section green darken-3 white-text">
  <div class="container">
    <div class="col s12 ">
      <a href="/dashboard/" class="breadcrumb">Dashboard</a>
      <a href="/classroom/" class="breadcrumb">Classroom</a>
    </div>
  </div>
</section>

<section class="section section-turmas">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Turmas Ativas</span>
        <table class="striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Turma</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ class._id }}</td>
                <td>{{ class.name }}</td>
                <td>{{ class.description }}</td>
             </td>
                 <td class="hide-on-small-only">
                    <a href="/classes/{{ class._id }}" class="btn btn-icon green">
                        <span class="icon"><i class="fa fa-edit"></i></span>
                    </a>
                    <a href="/classes/{{ class._id }}" class="btn btn-icon green">
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </a>
                    <a href="/classes/{{ class._id }}" class="btn btn-icon green">
                        <span class="icon"><i class="fa fa-sitemap"></i></span>
                    </a>

                </td>

            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
      <div class="card-action">
        <ul class="pagination">
          <li class="disabled">
            <a href="#!" class="teal-text">
              <i class="material-icons">chevron_left</i>
            </a>
          </li>
          <li class="active green darken-2">
            <a href="#!" class="white-text">1</a>
          </li>
          <li class="waves-effect">
            <a href="#!" class="teal-text">2</a>
          </li>
          <li class="waves-effect">
            <a href="#!" class="teal-text">3</a>
          </li>

          <li class="waves-effect">
            <a href="#!" class="teal-text">
              <i class="material-icons">chevron_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="fixed-action-btn">
      <a href="#modalCreateClass" class="btn-floating btn-large modal-trigger red">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</section>

{% include 'modals/classes.html' %}

{% endblock %}
