<!-- modal de nova turma -->
<div id="modalCreateClass" class="modal">
  <section class="section green center darken-3 white-text">
    <div class="container">
      <h5 class="flow-text">Adicionar turma</h5>
    </div>
  </section>
   <div class="modal-content">
     <div class="input-field">
      <label for="name">Nome</label>
      <input type="text" id="name">
    </div>
    <div class="input-field">
      <label for="description">Descrição</label>
      <textarea type="description" id="description" class="materialize-textarea"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <a id="btnCreateClass" class="modal-action modal-close btn green darken-2"><i class="fa fa-check"></i> Adicionar</a>
    <a class="modal-action modal-close btn grey"><i class="fa fa-ban"></i> Cancelar</a>

  </div>
</div>

<!-- Modal para confirmar exclusão -->
<div id="ModalDeleteClass" class="modal">
  <div class="modal-content">
    <h5>Excluir turma ?</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat green">Não</a>
    <a id="btnDeleteClass" class="modal-action modal-close waves-effect waves-green btn-flat red">Sim</a>
  </div>
</div>


  <!-- modal de edição classe-->
  <div id="modalEditClass" class="modal">

      <section class="section green center darken-3 white-text">
        <div class="container">
          <h5 class="flow-text">Editar turma</h5>
        </div>
      </section>
      <div class="modal-content">
        <div class="input-field">
            <label>Nome</label>
            <input type="text" id="modal-edit-class-name">
        </div>
        <div class="input-field">
          <label>Descrição</label>
          <input type="text" id="modal-edit-class-description">
        </div>
    </div>
    <div class="modal-footer">
      <a id="btnUpdateClass" class="modal-action modal-close btn green darken-2"><i class="fa fa-check"></i> Editar</a>
      <a class="modal-action modal-close btn grey"><i class="fa fa-ban"></i> Cancelar</a>

    </div>
  </div>

  <!-- Modal para compartilhar turma -->
  <div id="modalShareClass" class="modal">
    <div class="modal-content">
      <div class="row">
        <h4>Compartilhando turma</h4>
      </div>

      <div class="row">
        <label>ID</label>
        <p id="modal-share-class-id"></p>
      </div>

      <div class="row">
        <label>E-mail</label>
        <input type="email" id="modal-share-class-email">
      </div>
    </div>
    <div class="modal-footer">
      <a id="btnShareClass" class="modal-action modal-close waves-effect waves-red btn-flat green">Compartilhar</a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat blue">Cancelar</a>
    </div>
  </div>
