<!-- modal de nova turma -->
<div id="modalCreateClass" class="modal">
  <div class="modal-content">
    <h4>Criando nova turma</h4>
    <label>Nome</label>
    <input type="text" id="name">

    <label>Descrição</label>
    <textarea id="description" class="materialize-textarea"></textarea>
  </div>
  <div class="modal-footer">
    <a id="btnCreateClass" class="btn green modal-action modal-close waves-effect waves-green btn-flat">Criar</a>
    <a class="btn red modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
