

<!-- modal de edição de aviso -->
<div id="modalEditNotice" class="modal">
  <div class="modal-content">
    <h4>Editando aviso</h4>
    <label>Título</label>
    <input type="hidden" id="modal-edit-warning-id">

    <input type="text" id="modal-edit-warning-title">
    <label>Descrição</label>
    <input type="text" id="modal-edit-warning-description">
  </div>
  <div class="modal-footer">
    <a id="btn-edit-warning" class="modal-action modal-close waves-effect waves-green btn-flat green">Salvar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat blue">Cancelar</a>
  </div>
</div>

<!-- modal de criação de novo aviso -->
<div id="modalCreateNotice" class="modal">
  <div class="modal-content">
    <h4>Criando novo aviso</h4>
    <label>Título</label>
    <input type="text" id="modal-notice-title">
    <label>Descrição</label>
    <input type="text" id="modal-notice-description">
  </div>
  <div class="modal-footer">
    <a id="btnCreateNotice" class="modal-action modal-close waves-effect waves-green btn-flat green">Criar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat blue">Cancelar</a>
  </div>
</div>
