

<!-- modal de edição de tarefas -->
<div id="modalEditTask" class="modal">
  <section class="section green center darken-3 white-text">
    <div class="container">
      <h5 class="flow-text">Editar tarefa</h5>
    </div>
  </section>
  <div class="modal-content">
    <div class="row" style="{display: none}">
      <p id="modal-edit-task-error"></p>
    </div>

    <input type="hidden" id="modal-edit-task-id">

    <div class="input-field">
      <input type="text" id="modal-edit-task-title">
      <label for="modal-edit-task-title">Título</label>
    </div>

    <div class="input-field">
      <label>Descrição</label>
      <textarea id="modal-edit-task-description" class="materialize-textarea"></textarea>
    </div>

    <div class="input-field">
      <label>Prazo</label>
      <input id="modal-edit-task-deadline" type="date">
    </div>
  </div>
  <div class="modal-footer">
    <a id="btnEditTask" class="modal-action modal-close btn green darken-2"><i class="fa fa-check"></i> Editar</a>
    <a class="modal-action modal-close btn grey"><i class="fa fa-ban"></i> Cancelar</a>

  </div>
</div>


<!-- modal tarefa para confirmar exclusão -->
<div id="ModalDeleteTask" class="modal">
  <div class="modal-content">
    <h5>Excluir tarefa ?</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat green">Não</a>
    <a id="" class="modal-action modal-close waves-effect waves-green btn-flat red">Sim</a>
  </div>
</div>

<!-- modal de crição de tarefas -->
<div id="modalCreateTask" class="modal">
  <section class="section green center darken-3 white-text">
    <div class="container">
      <h5 class="flow-text">Adicinar nova tarefa</h5>
    </div>
  </section>
  <div class="modal-content">

    <div class="row" style="{display: none}">
      <p id="modal-new-task-error"></p>
    </div>
    <div class="input-field">
      <label>Título</label>
      <input type="text" id="title">
    </div>

    <div class="input-field">
      <label>Descrição</label>
      <textarea id="mt-description" class="materialize-textarea"></textarea>
    </div>

    <div class="input-field">
      <select id="tests">
      </select>
      <label>Questionário</label>
    </div>

    <div class="input-field">
      <label>Prazo</label>
      <input id="deadline" type="date">
    </div>

  </div>
  <div class="modal-footer">
    <a id="btnCreateTask" class="modal-action modal-close btn green darken-2"><i class="fa fa-check"></i> Adicionar</a>
    <a class="modal-action modal-close btn grey"><i class="fa fa-ban"></i> Cancelar</a>

  </div>
</div>
