
<!-- modal de edição de tarefas -->
<div id="modalEditTask" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4>Editando tarefa</h4>
    </div>
    <div class="row" style="{display: none}">
      <p id="modal-edit-task-error"></p>
    </div>

    <input type="hidden" id="modal-edit-task-id">

    <div class="row">
      <label>Título</label>
      <input type="text" id="modal-edit-task-title">
    </div>

    <div class="row">
      <label>Descrição</label>
      <textarea id="modal-edit-task-description" class="materialize-textarea"></textarea>
    </div>

    <div class="row">
      <label>Prazo</label>
      <input id="modal-edit-task-deadline" type="date">
    </div>
  </div>
  <div class="modal-footer">
    <a id="btn-edit-task" class="waves-effect waves-red btn-flat green">Salvar</a>
    <a class="modal-action modal-close waves-effect waves-red btn-flat blue">Cancelar</a>
  </div>
</div>


<!-- modal de crição de tarefas -->
<div id="modalCreateTask" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4>Criando nova tarefa</h4>
    </div>
    <div class="row" style="{display: none}">
      <p id="modal-new-task-error"></p>
    </div>
    <div class="row">
      <label>Título</label>
      <input type="text" id="title">
    </div>

    <div class="row">
      <label>Descrição</label>
      <textarea id="description" class="materialize-textarea"></textarea>
    </div>

    <div class="row">
      <label>Questionário</label>
      <select id="test"></select>
    </div>

    <div class="row">
      <label>Prazo</label>
      <input id="deadline" type="date">
    </div>
  </div>
  <div class="modal-footer">
    <a id="btnCreateTask" class="waves-effect waves-red btn-flat modal-close green">Criar</a>
    <a class="modal-action modal-close waves-effect waves-red btn-flat blue">Cancelar</a>
  </div>
</div>
