<!-- SECTIONS:  SHOW CASE-->

<header class="main-header">
  <div class="primary-overlay">
    {% include 'includes/_navbar.html' %}
    <!-- Showcase -->
    <div class="showcase container">
      <div class="row">
        <div class="col m4 l3 hide-on-small-and-down">
          <img class="responsive-img" src="{{ url_for('static', filename="img/logo-great.png")}}" alt="">
        </div>
        <div class="col s8 main-text center">
          <h1 class="title">GReAT</h1>
          <p class="flow-text">Game Read Authoring Tool</p>

          <a href="#about" class="btn btn-large white black-text">Saiba More</a>
        </div>
      </div>
    </div>
  </div>
</header>
