<div class="navbar-fixed">
  <nav class="main-nav white darken-3">
    <div class="container">
      <div class="nav-wrapper">
        <img src="{{ url_for('static', filename="img/logo-great.png")}}" alt=""><a href="/" class="brand-logo  black-text">GReAT</a>

        <a href="#" data-activates="side-nav" class="button-collapse show-on-large right black-text">
          <i class="material-icons">menu</i>
       </a>
        <ul class="right hide-on-med-and-down">
          <li>


          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Side nav -->
{% include 'includes/_sidenav.html' %}
