<ul id="side-nav" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="{{ url_for('static', filename="img/chalkboard.jpg")}}" class="responsive-img" alt="">
      </div>

      {% if session._id %}
      <a href="perfil.html" class="">
        <img src="{{ session.email| gravatar }}" class="circle" alt="User Photo">
      </a>
          <a href="" class="">
            <span class="name white-text">{{session.name}}</span>
          </a>
          <a href="" class="">
            <span class="email white-text">{{session.email}}</span>
          </a>
      {% endif %}
    </div>
  </li>
  {% if session._id %}
    <li><a href="{{url_for('dashboard')}}"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="{{url_for('classroom_index')}}">Turmas</a></li>
    <li><a href="{{url_for('classroom_index')}}">Avisos</a></li>
    <li><a href="{{url_for('classroom_index')}}">Convites</a></li>
    <li><a href="{{url_for('classroom_index')}}">Participantes</a></li>
  {% endif %}

  <li><div class="divider"></div></li>

    {% if session['_id'] %}
      <li><a href="{{url_for('logout')}}" class="waves-effect">Logout</a></li>
    {% else %}
      <li><a href="{{url_for('register')}}" class="waves-effect">Registrar</a></li>
      <li><a href="{{url_for('login')}}" class="waves-effect">Login</a></li>
    {% endif %}


</ul>
