<ul id="side-nav" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="{{ url_for('static', filename="img/chalkboard.jpg")}}" class="responsive-img" alt="">
      </div>
      <a href="perfil.html" class="">
        <img src="{{ url_for('static', filename="img/users/alana.jpg")}}" class="circle" alt="">
      </a>
      <a href="" class="">
        <span class="name white-text">Alana Oliveira</span>
      </a>
      <a href="" class="">
        <span class="email white-text">alana@ecp.ufma.br</span>
      </a>
    </div>
  </li>
  <li><a href="{{url_for('dashboard')}}"><i class="material-icons">dashboard</i>Dashboard</a></li>
  <li><a href="{{url_for('classroom_index')}}">Turmas</a></li>
  <li><a href="{{url_for('classroom_index')}}">Avisos</a></li>
  <li><a href="{{url_for('classroom_index')}}">Convites</a></li>
  <li><a href="{{url_for('classroom_index')}}">Participantes</a></li>
  <li><div class="divider"></div></li>
  <li>
    <a class="subheader">Account Controls</a>
  </li>
  <li><a href="{{url_for('logout')}}" class="waves-effect">Logout</a></li>
</ul>
