{% extends 'layout.html' %}

{% block body %}

<!-- SECTIONS:  HEADER-->
<section class="section green darken-3 white-text">
  <div class="container">
    <div class="col s12 ">
      <a href="{{url_for('dashboard')}}" class="breadcrumb">Dashboard</a>
      <a href="{{url_for('classroom')}}" class="breadcrumb">Classroom</a>
      <a href="{{url_for('disciplinas')}}" class="breadcrumb">Turmas</a>
      <a href="#" class="breadcrumb">{{turma.name}}</a>
    </div>
  </div>
</section>



<!-- Section: Detalhes da Turma -->
  <section class="section section-visitors grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Detalhes</span>
              <ul class="collection">
                <li class="collection-item">Disciplina: FUNDAMENTOS DA COMPUTAÇÃO</li>
                <li class="collection-item">Professor: Alana Oliveira</li>
                <li class="collection-item">Turma: FC 2017.2</li>
                <li class="collection-item">Código: xlklsdby265</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">

            </div>
          </div>
        </div>
      </div>

      <!-- Section: Lista de Tarefas da Turma -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">TAREFAS</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TAREFA</th>
                    <th>PRAZO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  {% for tarefa in tarefas %}
                  <tr>
                    <td>{{tarefa.id}}</td>
                    <td>{{tarefa.name}}</td>
                    <td>{{tarefa.prazo}}</td>
                    <td>
                      <a href="aluno.html" class="btn teal lighten-2"><i class="material-icons">mode_edit</i></a>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>

    <!-- Section: Lista de Participantes -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">PARTICIPANTES</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Aluno</th>
                    <th>Último Acesso</th>
                    <th>Pontuação</th>
                    <th>%</th>
                    <th class="hide-on-small-only"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for participante in participantes %}
                  <tr>
                    <td>{{participante.id}}</td>
                    <td>{{participante.name}}</td>
                    <td>{{participante.ultimo_acesso}}</td>
                    <td>{{participante.pontuacao}}</td>
                    <td>{{participante.desempenho}}</td>
                    <td>
                      <a href="aluno.html" class="btn teal lighten-2"><i class="material-icons">mode_edit</i> DETALHES</a>
                    </td>
                  </tr>
                   {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-action">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#!" class="teal-text">
                    <i class="material-icons">chevron_left</i>
                  </a>
                </li>
                <li class="active teal lighten-2">
                  <a href="#!" class="white-text">1</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="teal-text">2</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="teal-text">3</a>
                </li>

                <li class="waves-effect">
                  <a href="#!" class="teal-text">
                    <i class="material-icons">chevron_right</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </div>
  </section>

{% endblock %}
