{% extends 'layout.html' %}

{% block body %}

<script src="{{ url_for('static', filename='js/classes.js') }}"></script>

<!-- SECTIONS:  HEADER-->
<section class="section green darken-3 white-text">
  <div class="container">
    <div class="col s12 ">
      <a href="/dashboard/" class="breadcrumb">Dashboard</a>
      <a href="/classroom/" class="breadcrumb">Classroom</a>
      <a href="/classes/" class="breadcrumb">Turmas</a>
      <a href="/classroom/classes/{{ classe._id }}/" class="breadcrumb">{{ classe.name }}</a>
    </div>
  </div>
</section>



<!-- Section: Detalhes da Turma -->
  <section class="section section-visitors grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Detalhes</span>
              <ul class="collection">
                <li class="collection-item">Criador: {{ classe.creator.name }}</li>
                <li class="collection-item">Turma: {{ classe.name }}</li>
                <li class="collection-item">Código: {{ classe._id }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">

            </div>
          </div>
        </div>
      </div>

      <!-- Section: Lista de Tarefas da Turma -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">TAREFAS</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TAREFA</th>
                    <th>PRAZO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  {% if tasks %}
                    {% for task in tasks %}
                      <tr>
                        <td>{{ task._id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.deadline }}</td>
                        <td>
                          <a href="aluno.html" class="btn teal lighten-2"><i class="material-icons">mode_edit</i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}

                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>

    <!-- Section: Lista de Participantes -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">PARTICIPANTES</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Aluno</th>
                    <th>Último Acesso</th>
                    <th>Pontuação</th>
                    <th>%</th>
                    <th class="hide-on-small-only"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for participante in participantes %}
                  <tr>
                    <td>{{participante.id}}</td>
                    <td>{{participante.name}}</td>
                    <td>{{participante.ultimo_acesso}}</td>
                    <td>{{participante.pontuacao}}</td>
                    <td>{{participante.desempenho}}</td>
                    <td>
                      <a href="aluno.html" class="btn teal lighten-2"><i class="material-icons">mode_edit</i> DETALHES</a>
                    </td>
                  </tr>
                   {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-action">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#!" class="teal-text">
                    <i class="material-icons">chevron_left</i>
                  </a>
                </li>
                <li class="active teal lighten-2">
                  <a href="#!" class="white-text">1</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="teal-text">2</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="teal-text">3</a>
                </li>

                <li class="waves-effect">
                  <a href="#!" class="teal-text">
                    <i class="material-icons">chevron_right</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </div>
  </section>

  <div class="fixed-action-btn vertical click-to-toggle">
       <a class="btn-floating btn-large red">
         <i class="material-icons">add</i>
       </a>
       <ul>
         <li>
           <a href="#ModalDeleteClass" class="btn-floating red lighten-1 btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Apagar Turma"><i class="material-icons">delete</i></a>
         </li>

         <li>
           <a href="#modalEditTask" class="red lighten-1 btn-floating btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Editar Turma"><i class="material-icons">edit</i></a>
         </li>

         <li>
           <a href="#modalShareClass" class="red lighten-1 btn-floating btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Convidar para Turma"><i class="material-icons">person_add</i></a>
         </li>

         <li>
           <a href="#modalCreateNotice" class="red lighten-1 btn-floating btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Enviar Aviso"><i class="material-icons">announcement</i></a>
         </li>

         <li>
           <a id="btn-new-task-modal" href="#modalCreateTask" class="red lighten-1 btn-floating btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Nova Tarefa"><i class="material-icons">assignment</i></a>
         </li>
       </ul>
     </div>


     {% include 'modals/classes.html' %}


{% endblock %}
